textarea#newentry.span-24.last I am a text area
a(id="save") Save
script(type="text/javascript", src="js/application.js")
:javascript
  | $("#save").button().click(function() {
  |   $("#newentry").before("<p>" + $("#newentry").attr("value") + "</p>");
  |  });
  | $("#newentry").keypress(function(event) {
  |     if (event.which === 13 && event.shiftKey) {
  |      SJ.newEntry();
  |     }
  |  });

