textarea#newentry.span-24.last I am a text area
= "Type Shift+ENTER to save"
#entry_list
script(type="text/javascript", src="js/superjournal.js")
:coffeescript
  | $(document).ready ->
  |   SJ.init()



