#superjournal
  .ui-tooltip-top
  textarea#new_entry.span-10
  .span-14.last
  .span-24.last Type Shift+ENTER to save
  #entry_list
  :coffeescript
     $(document).ready ->
       window.App = new SJ.views.AppView()
       window.App.initialize()
       $("#new_entry").focus()
  script(type="text/template", id="entry_template")
    .entry.span-24.last
      .display
        .entry_createdOn Created: <%= createdOn %>
        .entry_content <%= content %>
      .edit
        textarea.entry_textarea

