////////// SHARED STYLING //////////
///// COLOR PALLETTE /////
//http//colorschemedesigner.com/#2O21T9FE8w0w0
light1 = #9DDC9A
dark1 = #82A580
dark2 = #378F32
light2 = #BBEEB8
light3 = #C8EEC6

light1_comp = #FDB1B3
dark1_comp = #BE9394
dark2_comp = #A5393C
light2_comp = #FEC5C6
light3_comp = #FED4D5

radius = 10px
///// MIXINS /////
rounded()
  border-radius radius
  -webkit-border-radius radius
  -moz-border-radius radius

center()
  text-align center

font-normal()
  font-size 1em

font-large()
  font-size 1.5em

font-larger()
  font-size 2em

bold()
  font-weight bold

padding-normal()
  padding 10px

border(color=dark1)
  border 2px dark1 solid

////////// BODY AND WRAPPER //////////
body
  background light3

////////// HEADER //////////

h1
  font-size 3em
  font-family 'Raleway', sans-serif
  letter-spacing: 0.165em;
  word-spacing: 0.5em;
  bold()
  color dark2
  rounded()

a:hover
  color dark2

.header
  padding-top 10px
  h1
    center()

////////// NAVIGATION //////////
.navigation
  padding-normal()

////////// CONTENT //////////
textarea
  rounded()
  border()
  padding 10px
  outline 0
  background white
  font-family sans-serif
  resize none
  overflow hidden
  height 5em

////////// JOURNAL ENTRIES //////////
.entry
  border()
  rounded()
  padding 10px
  margin 2px
  white-space pre

.entry_createdOn
  background dark1
  color dark2
  rounded()
  padding-left 10px

.entry_delete
  color dark2_comp
  font-weight bold
  text-decoration none
  padding 2px
  margin 2px

.entry_delete:hover
  cursor pointer

#entry_list .edit
  display none

#entry_list .editing .edit
  display block

#entry_list .editing .display
  display none

////////// FOOTER //////////
hr
  color dark2
  background dark2
  height 2px
  margin 10px

.footer
  center()
