////////// SHARED STYLING //////////
///// COLOR PALLETTE /////
//http//colorschemedesigner.com/#2O21T9FE8w0w0
light1 = #9DDC9A
dark1 = #82A580
dark2 = #378F32
light2 = #BBEEB8
light3 = #C8EEC6

light1_comp = #FDB1B3
dark1_comp = #BE9394
dark2_comp = #A5393C
light2_comp = #FEC5C6
light3_comp = #FED4D5

radius = 10px
///// MIXINS /////
rounded()
  border-radius radius
  -webkit-border-radius radius
  -moz-border-radius radius

center()
  text-align center

font-normal()
  font-size 1em

font-large()
  font-size 1.5em

font-larger()
  font-size 2em

bold()
  font-weight bold

padding-normal()
  padding 10px

border = 2px grey solid


////////// BODY AND WRAPPER //////////
body
  background light3

////////// HEADER //////////

h1
  font-larger()
  bold()
  color dark2
  rounded()

a:hover
  color dark2
  
.header
  padding-top 10px
  h1
    center()

////////// NAVIGATION //////////
.navigation
  padding-normal()

////////// CONTENT //////////
textarea
  rounded()
  border 1px dark2 solid
  padding 10px
  padding-bottom 30px
  outline 0
  background white
  font-family sans-serif
  resize none
  overflow hidden
  height 18px

////////// FOOTER //////////
hr
  color dark2
  background dark2
  height 2px

.footer
  center()
