body {
  background: #c8eec6;
}
h1 {
  font-size: 3em;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.165em;
  word-spacing: 0.5em;
  font-weight: bold;
  color: #378f32;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}
a:hover {
  color: #378f32;
}
.header {
  padding-top: 10px;
}
.header h1 {
  text-align: center;
}
.navigation {
  padding: 10px;
}
textarea {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border: 2px #82a580 solid;
  padding: 10px;
  outline: 0;
  background: #fff;
  font-family: sans-serif;
  resize: none;
  overflow: hidden;
  height: 5em;
}
.entry {
  border: 2px #82a580 solid;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  padding: 10px;
  margin: 2px;
  white-space: pre;
}
.entry_createdOn {
  background: #82a580;
  color: #378f32;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  padding-left: 10px;
}
.entry_delete {
  color: #a5393c;
  font-weight: bold;
  text-decoration: none;
  padding: 2px;
  margin: 2px;
}
.entry_delete:hover {
  cursor: pointer;
}
#entry_list .edit {
  display: none;
}
#entry_list .editing .edit {
  display: block;
}
#entry_list .editing .display {
  display: none;
}
hr {
  color: #378f32;
  background: #378f32;
  height: 2px;
  margin: 10px;
}
.footer {
  text-align: center;
}
